* {
  text-align: center;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../files/sofiapro-light.otf') format('opentype');
}

#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
}

#loading-image {
  z-index: 100;
}

body {
  background-image: linear-gradient(white, white, rgb(255, 195, 225));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  color: black;
  text-decoration: none;
  background:
    linear-gradient(
      to right,
      white,
      white
    ),
    linear-gradient(
      to right,
      rgb(119, 205, 239),
      rgb(224, 96, 244),
      rgb(245, 110, 211)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
  color: black;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

h2 {
  font-family: Bubblegum Sans;
  background-image: linear-gradient(to right, rgb(255, 168, 239), rgb(137, 186, 202), rgb(255, 168, 239));
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

h2:hover {
  background-image: linear-gradient(to right, rgb(137, 186, 202), rgb(255, 168, 239), rgb(137, 186, 202));
}

.base {
  width: 155px;
  height: 1px;
  background-color: #dbdbdb;
  position: relative;
  margin: 0px auto;
  margin-top: 28px;
  margin-bottom: 28px;
  -webkit-animation-name: rotate-base;
          animation-name: rotate-base;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.base:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(255, 168, 239);
  left: 0;
  margin-top: -9px;
  margin-left: -9px;
  -webkit-animation-name: base-size-left;
          animation-name: base-size-left;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.base:after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(137, 186, 202);
  right: 0;
  margin-top: -9px;
  margin-right: -9px;
  -webkit-animation-name: base-size-right;
          animation-name: base-size-right;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.base:nth-child(1), .base:nth-child(1):before, .base:nth-child(1):after {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.base:nth-child(2), .base:nth-child(2):before, .base:nth-child(2):after {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.base:nth-child(3), .base:nth-child(3):before, .base:nth-child(3):after {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.base:nth-child(4), .base:nth-child(4):before, .base:nth-child(4):after {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.base:nth-child(5), .base:nth-child(5):before, .base:nth-child(5):after {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.base:nth-child(6), .base:nth-child(6):before, .base:nth-child(6):after {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.base:nth-child(7), .base:nth-child(7):before, .base:nth-child(7):after {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.base:nth-child(8), .base:nth-child(8):before, .base:nth-child(8):after {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.base:nth-child(9), .base:nth-child(9):before, .base:nth-child(9):after {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

.base:nth-child(10), .base:nth-child(10):before, .base:nth-child(10):after {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.base:nth-child(11), .base:nth-child(11):before, .base:nth-child(11):after {
  -webkit-animation-delay: 1.65s;
          animation-delay: 1.65s;
}

.base:nth-child(12), .base:nth-child(12):before, .base:nth-child(12):after {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

@-webkit-keyframes rotate-base {
  0% {
    width: 155px;
  }
  25% {
    width: 0;
  }
  50% {
    width: 155px;
  }
  75% {
    width: 0;
  }
  100% {
    width: 155px;
  }
}

@keyframes rotate-base {
  0% {
    width: 155px;
  }
  25% {
    width: 0;
  }
  50% {
    width: 155px;
  }
  75% {
    width: 0;
  }
  100% {
    width: 155px;
  }
}

@-webkit-keyframes base-size-left {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1) translateX(155px);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}

@keyframes base-size-left {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1) translateX(155px);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}

@-webkit-keyframes base-size-right {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1) translateX(-155px);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}

@keyframes base-size-right {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1) translateX(-155px);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}

img.sofia {
  border: 1px solid #000000;
  border-radius: 100%;
}

img.sofia:hover {
  filter: gray;
  -webkit-filter: grayscale(1);
}

#typed-text {
  display: inline;
  font-family: Sofia Pro;
}

.form-control {
  display: inline;
}

.btn-info {
  background-color: rgb(137, 186, 202) !important;
}

@media (min-width: 1281px) {

  .col {
    margin-top: 2%;
  }

  .col-lg-2 {
    float: left;
    width: 16%;
  }

  .uni {
    margin-top: 1%;
  }

  .logo {
    margin-top: 2%;
  }

  h2 {
    margin-top: 3%;
    font-size: 5rem;
  }

  #typed-text {
    font-size: 1.5em;
  }
  
  .col-md-12 {
    width: 10%;
  } 

  .form-group {
    margin-top: 10%;
  }

  .form-control {
    width: 50%;
  }

  #logos {
    margin-top: 4%;
    margin-bottom: 1%;
  }
}


@media (min-width: 768px) and (max-width: 1280px) {

  .col-lg-2 {
    float: left;
    width: 16%;
  }

  .uni {
    margin-top: 1%;
  }

  .logo {
    margin-top: 3%;
  }

  .col {
    margin-top: 20%;
    width: auto;
  }

  h2 {
    margin-top: 5%;
    font-size: 4rem;
  }

  #typed-text {
    font-size: 1.5em;
  }

  .col-md-12 {
    width: 10%;
  } 

  .form-group {
    margin-top: 30%;
  }

  .form-control {
    width: 100%;
  }

  #logos {
    margin-top: 20%;
  }
}

@media (max-width: 767px) {

  .col-sm-3 {
    float: left;
    width: 25%;
    margin-top: 5%;
  }

  .uni {
    display: none;
  }

  .base {
    display: none;
  }

  .logo-text {
    display: none;
  }

  .col {
    margin-top: 8%;
  }

  h2 {
    margin-top: 6%;
    font-size: 4rem;
  }

  #typed-text {
    font-size: 1.3em;
  }

  .col-sm-4 {
    float: left;
    width: 25%;
  }

  .form-group {
    margin-top: 15%;
  }

  #logos {
    margin-top: 20%;
  }
}






